<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comments</title>
</head>
<body>
    <h1>Please Enter a New Comment</h1>
    <form action="/comments" method="post">
        <label for="username">Enter username: </label>
        <input type="text" id="username" placeholder="username" name="username">
        <br>
        <label for="comment">Comment Here</label>
        <textarea  id="comment" cols="30" rows="5" name="comment"></textarea>

        <button>SUBMIT</button>
    </form>

    <a href="/comments">Go back to home</a>



</body>
</html>