h3{
    color: brown;
}

button{
    color: magenta;
    background-color: gray;
}
/* semicolon are important in css */




/* how to manipulate only some elements in the html body parts? */

